# Anmeldedaten für das Projekt
# Kopieren Sie diese Datei nach .env und tragen Sie Ihre Daten ein.
# Die Datei .env wird NICHT ins Repository eingecheckt (.gitignore).
WIFI_SSID="Your_WiFi_SSID"
WIFI_PASSWORD="Your_WiFi_Password"
MQTT_HOST="158.180.44.197"
MQTT_USER="bobm"
MQTT_PASSWORD="In Vorlesung erfragen"
