.diyw article,
.diyw aside,
.diyw details,
.diyw figcaption,
.diyw figure,
.diyw footer,
.diyw header,
.diyw hgroup,
.diyw main,
.diyw nav,
.diyw section,
.diyw
summary{display:block}.diyw audio,
.diyw canvas,
.diyw
video{display:inline-block}.diyw audio:not([controls]){display:none;height:0}.diyw [hidden]{display:none}html .diyw
.diyweb{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}.diyw a:focus{outline:thin dotted}.diyw a:active,
.diyw a:hover{outline:0}.diyw
h1{margin:0.67em 0}.diyw abbr[title]{border-bottom:1px dotted}.diyw b,
.diyw
strong{font-weight:bold}.diyw
dfn{font-style:italic}.diyw
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}.diyw
mark{background:#ff0;color:#000}.diyw code,
.diyw kbd,
.diyw pre,
.diyw
samp{font-family:monospace,serif;font-size:1em}.diyw
pre{white-space:pre-wrap}.diyw
q{quotes:"\201C" "\201D" "\2018" "\2019"}.diyw
small{font-size:80%}.diyw sub,
.diyw
sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}.diyw
sup{top:-0.5em}.diyw
sub{bottom:-0.25em}.diyw
img{border:0}.diyw svg:not(:root){overflow:hidden}.diyw
figure{margin:0}.diyw
fieldset{border:1px
solid #c0c0c0;margin:0
2px;padding:0.35em 0.625em 0.75em}.diyw
legend{border:0;padding:0}.diyw button,
.diyw input,
.diyw select,
.diyw
textarea{font-family:inherit;font-size:100%;margin:0}.diyw button,
.diyw
input{line-height:normal}.diyw button,
.diyw
select{text-transform:none}.diyw button,
html .diyw input[type="button"],
.diyw input[type="reset"],
.diyw input[type="submit"]{-webkit-appearance:button;cursor:pointer}.diyw button[disabled],
html .diyw input[disabled]{cursor:default}.diyw input[type="checkbox"],
.diyw input[type="radio"]{box-sizing:border-box;padding:0}.diyw input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}.diyw input[type="search"]::-webkit-search-cancel-button,
.diyw input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}.diyw button::-moz-focus-inner,
.diyw input::-moz-focus-inner{border:0;padding:0}.diyw
textarea{overflow:auto;vertical-align:top}.diyw
table{border-collapse:collapse;border-spacing:0}.diyw
p{margin:1em
0}.diyw
div.n{padding:0;margin:1em
0}.diyw .diywebNav ul:before,
.diyw .diywebLiveArea:before,
.diyw .diywebNav ul:after,
.diyw .diywebLiveArea:after{content:" ";display:table}.diyw .diywebNav ul:after,
.diyw .diywebLiveArea:after{clear:both}.diyw .diywebNav a,
.diyw .diyweb,
.diyw .diyweb h1,
.diyw .diyweb h2,
.diyw .diyweb p,
.diyw .diyweb
td{white-space:normal;word-wrap:break-word}.diyw
.diyweb{-webkit-text-size-adjust:none;min-height:100%}.diyw
.diywebContainer{position:relative;margin:0
auto}.diyw
.diywebLiveArea{position:relative;margin:0
auto}.diyw .diyweb
a{text-decoration:underline}.diyw .diyweb a:hover{text-decoration:none}.diyw .diywebNav
ul{list-style-type:none;margin:0;padding:0}.diyw .diywebNav li
ul{padding-left:1em}.diyw .diywebNav
li{max-width:100%}.diyw .diywebNav
a{text-decoration:none;display:block}.diyw .diywebNav a:hover{text-decoration:underline}body.diyBgActive .diyw
.diyweb{background-color:transparent !important}.diyw
div.hr{border-bottom-style:dotted;border-bottom-width:1px;border-color:#ccc;height:1px}.diyw
.diyweb{font-family:Verdana,Arial,Helvetica,sans-serif;padding:0
2%;-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility}.diyw .diywebContent
.diywebLiveArea{padding:0}.diyw
.diywebEmotionHeader{overflow:hidden}.diyw
.diywebFooter{min-height:20px}.diyw .diywebNav
.diywebLiveArea{padding:0
20px}.diyw
.diywebGutter{padding:10px
20px}.diyw
.diywebLiveArea{padding:20px}.diyw .diywebNav
a{display:block;padding:0.4em 1em 0.35em}.diyw .diywebNav
a{text-decoration:none}.diyw .diywebNav a:hover{text-decoration:underline}.diyw .diywebContent .diywebNav
li{margin:0}.diyw .diywebNav ul ul
li{border-top:none}.diyw .diywebContent .diywebNav li
a{padding:8px
0;margin:-1px 0 0 0}.diyw .diywebContent
.diywebNav{margin:0
0 1em;padding-left:0}.diyw .diywebContent .diywebNav
a{border-bottom:1px solid rgba(0, 0, 0, 0.1)}.diyw .diywebContent .diywebNav li:last-child
a{border:none}.diyw .diywebContent .diywebNav ul
ul{padding-left:7%}.diyw .diywebHeader .diywebNav
a{padding:1em
1em 1.075em}.diyw .diywebHeader .diywebNav li
ul{display:none}.diyw .diywebHeader .diywebNav
li{float:left}@media only screen and (max-width: 568px){.diyw .diywebHeader .diywebNav
li{border-bottom:1px solid #ddd}.diyw .diywebHeader .diywebNav li:last-child{border:none}}@media only screen and (max-width: 568px){.diyw .diywebHeader .diywebNav li
ul{display:block}.diyw .diywebHeader .diywebNav
li{float:none}}.diyw
.diyweb{-webkit-text-size-adjust:auto}.diyw
.diywebPage{padding:0
4% 2em}.diyw
.diywebContainer{width:960px}.diyw
.diywebLiveArea{padding:20px}.diyw .diywebMain
.diywebGutter{padding:0
40px 20px}@media only screen and (max-width: 1023px){.diyw
.diywebContainer{width:720px}}@media only screen and (max-width: 767px){.diyw
.diywebContainer{width:530px}}@media only screen and (max-width: 568px){.diyw
.diywebContainer{width:420px}.diyw .diywebMain
.diywebGutter{padding:20px
10px}.diyw
.diywebLiveArea{padding:10px}}@media only screen and (max-width: 480px){.diyw
.diywebContainer{width:auto}}.diyw .diywebSecondary
.diywebHelperNav{display:block}.diyw .diywebMain
.diywebHelperNav{display:none}.diyw
.diywebSecondary{position:relative;width:28.5%;float:left}.diyw .diywebContent
.diywebFond{width:28.5%;position:absolute;top:0;bottom:0}.diyw
.diywebMain{width:71.5%;float:right}.diyw .diywebClark
.diywebSecondary{float:right}.diyw .diywebClark .diywebContent
.diywebFond{right:0}.diyw .diywebClark
.diywebMain{float:left}@media only screen and (min-width: 0) and (max-width: 767px){.diyw .diywebMain
.diywebHelperNav{display:block}.diyw
.diywebSecondary{position:static;z-index:auto;width:auto;float:none}.diyw .diywebContent
.diywebFond{width:auto;position:static;top:auto;bottom:auto}.diyw
.diywebMain{width:auto;float:none}.diyw .diywebClark
.diywebSecondary{float:none}.diyw .diywebClark .diywebContent
.diywebFond{right:auto}.diyw .diywebClark
.diywebMain{float:none}}@media only screen and (max-width: 1023px){.diyw .diywebSecondary
.diywebHelperNav{display:block}}@media only screen and (max-width: 767px){.diyw .diywebSecondary
.diywebNav{display:none}}@media only screen and (max-width: 568px){.diyw .diywebContent
.diywebHelperNav{display:none}.diyw .diywebSingleNav .diywebContent .diywebHelperNav,
.diyw .diywebSingleNav
.diywebNavMain{display:block}}@media all and (max-width: 767px){.diyw
.diyweb{padding:0
!important;margin-top:0}.diyw
.diyfeMobileNav{margin-bottom:20px}}body.diyfeNoSidebar .diyw .diywebSecondary,
body.diyfeNoSidebar .diyw .diywebContent .diyfeGridGroup:before,
body.diyfeNoSidebar .diyw .diywebContent
.diywebFond{display:none !important}@media only screen and (min-width: 768px){body.diyfeNoSidebar .diyw
.diywebMain{float:none !important;width:100% !important}body.diyfeSidebarRight .diyw
.diywebSecondary{float:right !important}body.diyfeSidebarRight .diyw
.diywebMain{float:left !important}body.diyfeSidebarRight .diyw .diywebContent .diywebFond,
body.diyfeSidebarRight .diyw .diywebContent .diyfeGridGroup:before{right:0 !important;left:auto !important}body.diyfeSidebarLeft .diyw
.diywebSecondary{float:left !important}body.diyfeSidebarLeft .diyw
.diywebMain{float:right !important}body.diyfeSidebarLeft .diyw .diywebContent .diywebFond,
body.diyfeSidebarLeft .diyw .diywebContent .diyfeGridGroup:before{left:0 !important;right:auto !important}body.diyfeNoSidebar .diyw .diywebMain
.diywebGutter{padding-left:15px;padding-right:15px}}