html body {
  background-color: #fbfbfb;
}
body.diyBgActive .diyw .diyweb {
  background-image: none !important;
  background-color: transparent !important;
}
.diyw .diyweb {
  background-color: transparent !important;
}
.diyw .diyweb,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA .diyfeCA0,
.diyw .diyfeCA .diyfeCA0,
.diyw .diyfeCA0 {
  background-color: #fbfbfb;
  color: #434343;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyweb h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA .diyfeCA0 h1,
.diyw .diyfeCA0 h1 {
  color: #434343;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyweb h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA .diyfeCA0 h2,
.diyw .diyfeCA0 h2 {
  color: #434343;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyweb p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA .diyfeCA0 p,
.diyw .diyfeCA0 p {
  color: #434343;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyweb a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA .diyfeCA0 a,
.diyw .diyfeCA0 a {
  color: #434343;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyweb .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA0 .diyfeLinkAsButton,
.diyw .diyfeCA0 .diyfeLinkAsButton {
  background: #434343;
  color: #ececec;
  border: solid 1px #434343;
}
.diyw .diyweb .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA .diyfeCA0 .mainNav1 a,
.diyw .diyfeCA0 .mainNav1 a {
  color: #434343;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyweb .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA .diyfeCA0 .mainNav2 a,
.diyw .diyfeCA0 .mainNav2 a {
  color: #434343;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyweb .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA .diyfeCA0 .hr,
.diyw .diyfeCA0 .hr {
  border-color: #b6b6b6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyweb .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA0 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA0 .h1,
.diyw .diyfeCA .diyfeCA0 .h1,
.diyw .diyfeCA0 .h1 {
  color: #434343;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA .diyfeCA1,
.diyw .diyfeCA .diyfeCA1,
.diyw .diyfeCA1 {
  background-color: #eff0ef;
  color: #636863;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 13.5px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA .diyfeCA1 h1,
.diyw .diyfeCA1 h1 {
  color: #424542;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 25.6px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA .diyfeCA1 .h1-align,
.diyw .diyfeCA1 .h1-align {
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA .diyfeCA1 h2,
.diyw .diyfeCA1 h2 {
  color: #373937;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 19.2px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA .diyfeCA1 .h2-align,
.diyw .diyfeCA1 .h2-align {
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA .diyfeCA1 p,
.diyw .diyfeCA1 p {
  color: #636863;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 13.5px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA .diyfeCA1 a,
.diyw .diyfeCA1 a {
  color: #424542;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA1 .diyfeLinkAsButton,
.diyw .diyfeCA1 .diyfeLinkAsButton {
  background: #424542;
  color: #ececec;
  border: solid 1px #424542;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA .diyfeCA1 .mainNav1 a,
.diyw .diyfeCA1 .mainNav1 a {
  color: #798079;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 14.4px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA .diyfeCA1 .mainNav2 a,
.diyw .diyfeCA1 .mainNav2 a {
  color: #373937;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA .diyfeCA1 .hr,
.diyw .diyfeCA1 .hr {
  border-color: #a8ada8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA1 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA1 .h1,
.diyw .diyfeCA .diyfeCA1 .h1,
.diyw .diyfeCA1 .h1 {
  color: #424542;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 25.6px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA .diyfeCA2,
.diyw .diyfeCA .diyfeCA2,
.diyw .diyfeCA2 {
  background-color: #f3f3f2;
  color: #3c3c39;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA .diyfeCA2 h1,
.diyw .diyfeCA2 h1 {
  color: #3c3c39;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA .diyfeCA2 h2,
.diyw .diyfeCA2 h2 {
  color: #3c3c39;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA .diyfeCA2 p,
.diyw .diyfeCA2 p {
  color: #3c3c39;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA .diyfeCA2 a,
.diyw .diyfeCA2 a {
  color: #3c3c39;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA2 .diyfeLinkAsButton,
.diyw .diyfeCA2 .diyfeLinkAsButton {
  background: #3c3c39;
  color: #ececeb;
  border: solid 1px #3c3c39;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA .diyfeCA2 .mainNav1 a,
.diyw .diyfeCA2 .mainNav1 a {
  color: #3c3c39;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA .diyfeCA2 .mainNav2 a,
.diyw .diyfeCA2 .mainNav2 a {
  color: #3c3c39;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA .diyfeCA2 .hr,
.diyw .diyfeCA2 .hr {
  border-color: #b1b1aa;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA2 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA2 .h1,
.diyw .diyfeCA .diyfeCA2 .h1,
.diyw .diyfeCA2 .h1 {
  color: #3c3c39;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA .diyfeCA3,
.diyw .diyfeCA .diyfeCA3,
.diyw .diyfeCA3 {
  background-color: #f1eed0;
  color: #636863;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA .diyfeCA3 h1,
.diyw .diyfeCA3 h1 {
  color: #424542;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 22.4px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA .diyfeCA3 h2,
.diyw .diyfeCA3 h2 {
  color: #424542;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 12.8px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA .diyfeCA3 p,
.diyw .diyfeCA3 p {
  color: #636863;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA .diyfeCA3 a,
.diyw .diyfeCA3 a {
  color: #424542;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA3 .diyfeLinkAsButton,
.diyw .diyfeCA3 .diyfeLinkAsButton {
  background: #424542;
  color: #ececec;
  border: solid 1px #424542;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA .diyfeCA3 .mainNav1 a,
.diyw .diyfeCA3 .mainNav1 a {
  color: #35321d;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA .diyfeCA3 .mainNav2 a,
.diyw .diyfeCA3 .mainNav2 a {
  color: #798079;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA .diyfeCA3 .hr,
.diyw .diyfeCA3 .hr {
  border-color: #a8ada8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA3 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA3 .h1,
.diyw .diyfeCA .diyfeCA3 .h1,
.diyw .diyfeCA3 .h1 {
  color: #424542;
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 22.4px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA .diyfeCA4,
.diyw .diyfeCA .diyfeCA4,
.diyw .diyfeCA4 {
  background-color: #24231f;
  color: #dbdad8;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA .diyfeCA4 h1,
.diyw .diyfeCA4 h1 {
  color: #dbdad8;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA .diyfeCA4 h2,
.diyw .diyfeCA4 h2 {
  color: #dbdad8;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA .diyfeCA4 p,
.diyw .diyfeCA4 p {
  color: #dbdad8;
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA .diyfeCA4 a,
.diyw .diyfeCA4 a {
  color: #dbdad8;
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA .diyfeCA4 .diyfeLinkAsButton,
.diyw .diyfeCA4 .diyfeLinkAsButton {
  background: #dbdad8;
  color: #161616;
  border: solid 1px #dbdad8;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA .diyfeCA4 .mainNav1 a,
.diyw .diyfeCA4 .mainNav1 a {
  color: #dbdad8;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA .diyfeCA4 .mainNav2 a,
.diyw .diyfeCA4 .mainNav2 a {
  color: #dbdad8;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA .diyfeCA4 .hr,
.diyw .diyfeCA4 .hr {
  border-color: #6e6b5f;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA .diyfeCA4 .h1,
.diyw .diyfeCA .diyfeCA .diyfeCA4 .h1,
.diyw .diyfeCA .diyfeCA4 .h1,
.diyw .diyfeCA4 .h1 {
  color: #dbdad8;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyweb div#contentfooter {
  font-size: inherit;
  font-weight: inherit;
}
.diyw #website-logo a {
  text-decoration: none !important;
}
.diyw .diyfeCA0 #website-logo p.website-logo-text,
.diyw .diyfeCA0 #website-logo p.website-logo-text a {
  color: #434343 !important;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
}
.diyw .diyfeCA1 #website-logo p.website-logo-text,
.diyw .diyfeCA1 #website-logo p.website-logo-text a {
  color: #636863 !important;
  font-family: 'Times New Roman', Times, serif;
}
.diyw .diyfeCA2 #website-logo p.website-logo-text,
.diyw .diyfeCA2 #website-logo p.website-logo-text a {
  color: #3c3c39 !important;
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
}
.diyw .diyfeCA3 #website-logo p.website-logo-text,
.diyw .diyfeCA3 #website-logo p.website-logo-text a {
  color: #636863 !important;
  font-family: Georgia, serif;
}
.diyw .diyfeCA4 #website-logo p.website-logo-text,
.diyw .diyfeCA4 #website-logo p.website-logo-text a {
  color: #dbdad8 !important;
  font-family: Georgia, serif;
}
.diyw .diyfeLinkAsButton {
  border: 1px solid;
  border-radius: 5px;
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none !important;
}
.diyw .diyfeLinkAsButton:hover {
  box-shadow: 0 0 0 2px inset;
}
.diyw .imageSubtitle {
  min-width: 30px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0,
.diyw .diyfeArea .diyfeArea .diyfeColor0,
.diyw .diyfeArea .diyfeColor0,
.diyw .diyfeColor0 {
  background-color: #fbfbfb;
  color: #434343;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor0 h1,
.diyw .diyfeArea .diyfeColor0 h1,
.diyw .diyfeColor0 h1 {
  color: #434343;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor0 h2,
.diyw .diyfeArea .diyfeColor0 h2,
.diyw .diyfeColor0 h2 {
  color: #434343;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 p,
.diyw .diyfeArea .diyfeArea .diyfeColor0 p,
.diyw .diyfeArea .diyfeColor0 p,
.diyw .diyfeColor0 p {
  color: #434343;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 a,
.diyw .diyfeArea .diyfeArea .diyfeColor0 a,
.diyw .diyfeArea .diyfeColor0 a,
.diyw .diyfeColor0 a {
  color: #434343;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor0 .diyfeLinkAsButton,
.diyw .diyfeColor0 .diyfeLinkAsButton {
  background: #434343;
  color: #ececec;
  border: solid 1px #434343;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeArea .diyfeColor0 .mainNav1 a,
.diyw .diyfeColor0 .mainNav1 a {
  color: #434343;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeArea .diyfeColor0 .mainNav2 a,
.diyw .diyfeColor0 .mainNav2 a {
  color: #434343;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeArea .diyfeColor0 .hr,
.diyw .diyfeColor0 .hr {
  border-color: #b6b6b6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1,
.diyw .diyfeArea .diyfeArea .diyfeColor1,
.diyw .diyfeArea .diyfeColor1,
.diyw .diyfeColor1 {
  background-color: #eff0ef;
  color: #636863;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor1 h1,
.diyw .diyfeArea .diyfeColor1 h1,
.diyw .diyfeColor1 h1 {
  color: #424542;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor1 h2,
.diyw .diyfeArea .diyfeColor1 h2,
.diyw .diyfeColor1 h2 {
  color: #373937;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 p,
.diyw .diyfeArea .diyfeArea .diyfeColor1 p,
.diyw .diyfeArea .diyfeColor1 p,
.diyw .diyfeColor1 p {
  color: #636863;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor1 a,
.diyw .diyfeArea .diyfeColor1 a,
.diyw .diyfeColor1 a {
  color: #424542;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor1 .diyfeLinkAsButton,
.diyw .diyfeColor1 .diyfeLinkAsButton {
  background: #424542;
  color: #ececec;
  border: solid 1px #424542;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeArea .diyfeColor1 .mainNav1 a,
.diyw .diyfeColor1 .mainNav1 a {
  color: #798079;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeArea .diyfeColor1 .mainNav2 a,
.diyw .diyfeColor1 .mainNav2 a {
  color: #373937;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeArea .diyfeColor1 .hr,
.diyw .diyfeColor1 .hr {
  border-color: #a8ada8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2,
.diyw .diyfeArea .diyfeArea .diyfeColor2,
.diyw .diyfeArea .diyfeColor2,
.diyw .diyfeColor2 {
  background-color: #f3f3f2;
  color: #3c3c39;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor2 h1,
.diyw .diyfeArea .diyfeColor2 h1,
.diyw .diyfeColor2 h1 {
  color: #3c3c39;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor2 h2,
.diyw .diyfeArea .diyfeColor2 h2,
.diyw .diyfeColor2 h2 {
  color: #3c3c39;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 p,
.diyw .diyfeArea .diyfeArea .diyfeColor2 p,
.diyw .diyfeArea .diyfeColor2 p,
.diyw .diyfeColor2 p {
  color: #3c3c39;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor2 a,
.diyw .diyfeArea .diyfeColor2 a,
.diyw .diyfeColor2 a {
  color: #3c3c39;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor2 .diyfeLinkAsButton,
.diyw .diyfeColor2 .diyfeLinkAsButton {
  background: #3c3c39;
  color: #ececeb;
  border: solid 1px #3c3c39;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeArea .diyfeColor2 .mainNav1 a,
.diyw .diyfeColor2 .mainNav1 a {
  color: #3c3c39;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeArea .diyfeColor2 .mainNav2 a,
.diyw .diyfeColor2 .mainNav2 a {
  color: #3c3c39;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeArea .diyfeColor2 .hr,
.diyw .diyfeColor2 .hr {
  border-color: #b1b1aa;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3,
.diyw .diyfeArea .diyfeArea .diyfeColor3,
.diyw .diyfeArea .diyfeColor3,
.diyw .diyfeColor3 {
  background-color: #f1eed0;
  color: #636863;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor3 h1,
.diyw .diyfeArea .diyfeColor3 h1,
.diyw .diyfeColor3 h1 {
  color: #424542;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor3 h2,
.diyw .diyfeArea .diyfeColor3 h2,
.diyw .diyfeColor3 h2 {
  color: #424542;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 p,
.diyw .diyfeArea .diyfeArea .diyfeColor3 p,
.diyw .diyfeArea .diyfeColor3 p,
.diyw .diyfeColor3 p {
  color: #636863;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 a,
.diyw .diyfeArea .diyfeArea .diyfeColor3 a,
.diyw .diyfeArea .diyfeColor3 a,
.diyw .diyfeColor3 a {
  color: #424542;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor3 .diyfeLinkAsButton,
.diyw .diyfeColor3 .diyfeLinkAsButton {
  background: #424542;
  color: #ececec;
  border: solid 1px #424542;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeArea .diyfeColor3 .mainNav1 a,
.diyw .diyfeColor3 .mainNav1 a {
  color: #35321d;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeArea .diyfeColor3 .mainNav2 a,
.diyw .diyfeColor3 .mainNav2 a {
  color: #798079;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeArea .diyfeColor3 .hr,
.diyw .diyfeColor3 .hr {
  border-color: #a8ada8;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4,
.diyw .diyfeArea .diyfeArea .diyfeColor4,
.diyw .diyfeArea .diyfeColor4,
.diyw .diyfeColor4 {
  background-color: #24231f;
  color: #dbdad8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h1,
.diyw .diyfeArea .diyfeArea .diyfeColor4 h1,
.diyw .diyfeArea .diyfeColor4 h1,
.diyw .diyfeColor4 h1 {
  color: #dbdad8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 h2,
.diyw .diyfeArea .diyfeArea .diyfeColor4 h2,
.diyw .diyfeArea .diyfeColor4 h2,
.diyw .diyfeColor4 h2 {
  color: #dbdad8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 p,
.diyw .diyfeArea .diyfeArea .diyfeColor4 p,
.diyw .diyfeArea .diyfeColor4 p,
.diyw .diyfeColor4 p {
  color: #dbdad8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 a,
.diyw .diyfeArea .diyfeArea .diyfeColor4 a,
.diyw .diyfeArea .diyfeColor4 a,
.diyw .diyfeColor4 a {
  color: #dbdad8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeArea .diyfeColor4 .diyfeLinkAsButton,
.diyw .diyfeColor4 .diyfeLinkAsButton {
  background: #dbdad8;
  color: #161616;
  border: solid 1px #dbdad8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeArea .diyfeColor4 .mainNav1 a,
.diyw .diyfeColor4 .mainNav1 a {
  color: #dbdad8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeArea .diyfeColor4 .mainNav2 a,
.diyw .diyfeColor4 .mainNav2 a {
  color: #dbdad8;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeArea .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeArea .diyfeColor4 .hr,
.diyw .diyfeColor4 .hr {
  border-color: #6e6b5f;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0,
.diyw .diyfeArea .diyfeArea .diyfeFont0,
.diyw .diyfeArea .diyfeFont0,
.diyw .diyfeFont0 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont0 h1,
.diyw .diyfeArea .diyfeFont0 h1,
.diyw .diyfeFont0 h1 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont0 h2,
.diyw .diyfeArea .diyfeFont0 h2,
.diyw .diyfeFont0 h2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 p,
.diyw .diyfeArea .diyfeArea .diyfeFont0 p,
.diyw .diyfeArea .diyfeFont0 p,
.diyw .diyfeFont0 p {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 a,
.diyw .diyfeArea .diyfeArea .diyfeFont0 a,
.diyw .diyfeArea .diyfeFont0 a,
.diyw .diyfeFont0 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeArea .diyfeFont0 .mainNav1 a,
.diyw .diyfeFont0 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeArea .diyfeFont0 .mainNav2 a,
.diyw .diyfeFont0 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1,
.diyw .diyfeArea .diyfeArea .diyfeFont1,
.diyw .diyfeArea .diyfeFont1,
.diyw .diyfeFont1 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 13.5px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont1 h1,
.diyw .diyfeArea .diyfeFont1 h1,
.diyw .diyfeFont1 h1 {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 25.6px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont1 h2,
.diyw .diyfeArea .diyfeFont1 h2,
.diyw .diyfeFont1 h2 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 19.2px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 p,
.diyw .diyfeArea .diyfeArea .diyfeFont1 p,
.diyw .diyfeArea .diyfeFont1 p,
.diyw .diyfeFont1 p {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 13.5px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont1 a,
.diyw .diyfeArea .diyfeFont1 a,
.diyw .diyfeFont1 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeArea .diyfeFont1 .mainNav1 a,
.diyw .diyfeFont1 .mainNav1 a {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 14.4px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeArea .diyfeFont1 .mainNav2 a,
.diyw .diyfeFont1 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2,
.diyw .diyfeArea .diyfeArea .diyfeFont2,
.diyw .diyfeArea .diyfeFont2,
.diyw .diyfeFont2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont2 h1,
.diyw .diyfeArea .diyfeFont2 h1,
.diyw .diyfeFont2 h1 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont2 h2,
.diyw .diyfeArea .diyfeFont2 h2,
.diyw .diyfeFont2 h2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 p,
.diyw .diyfeArea .diyfeArea .diyfeFont2 p,
.diyw .diyfeArea .diyfeFont2 p,
.diyw .diyfeFont2 p {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont2 a,
.diyw .diyfeArea .diyfeFont2 a,
.diyw .diyfeFont2 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeArea .diyfeFont2 .mainNav1 a,
.diyw .diyfeFont2 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeArea .diyfeFont2 .mainNav2 a,
.diyw .diyfeFont2 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3,
.diyw .diyfeArea .diyfeArea .diyfeFont3,
.diyw .diyfeArea .diyfeFont3,
.diyw .diyfeFont3 {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont3 h1,
.diyw .diyfeArea .diyfeFont3 h1,
.diyw .diyfeFont3 h1 {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 22.4px;
  font-weight: normal;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont3 h2,
.diyw .diyfeArea .diyfeFont3 h2,
.diyw .diyfeFont3 h2 {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 12.8px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 p,
.diyw .diyfeArea .diyfeArea .diyfeFont3 p,
.diyw .diyfeArea .diyfeFont3 p,
.diyw .diyfeFont3 p {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 a,
.diyw .diyfeArea .diyfeArea .diyfeFont3 a,
.diyw .diyfeArea .diyfeFont3 a,
.diyw .diyfeFont3 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeArea .diyfeFont3 .mainNav1 a,
.diyw .diyfeFont3 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeArea .diyfeFont3 .mainNav2 a,
.diyw .diyfeFont3 .mainNav2 a {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4,
.diyw .diyfeArea .diyfeArea .diyfeFont4,
.diyw .diyfeArea .diyfeFont4,
.diyw .diyfeFont4 {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h1,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h1,
.diyw .diyfeArea .diyfeArea .diyfeFont4 h1,
.diyw .diyfeArea .diyfeFont4 h1,
.diyw .diyfeFont4 h1 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h2,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 h2,
.diyw .diyfeArea .diyfeArea .diyfeFont4 h2,
.diyw .diyfeArea .diyfeFont4 h2,
.diyw .diyfeFont4 h2 {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 p,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 p,
.diyw .diyfeArea .diyfeArea .diyfeFont4 p,
.diyw .diyfeArea .diyfeFont4 p,
.diyw .diyfeFont4 p {
  font-family: Georgia, serif;
  font-style: normal;
  font-size: 15px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 a,
.diyw .diyfeArea .diyfeArea .diyfeFont4 a,
.diyw .diyfeArea .diyfeFont4 a,
.diyw .diyfeFont4 a {
  font-style: normal;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeArea .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeArea .diyfeFont4 .mainNav1 a,
.diyw .diyfeFont4 .mainNav1 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeArea .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeArea .diyfeFont4 .mainNav2 a,
.diyw .diyfeFont4 .mainNav2 a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
}
body.startpage .diyw .diywebFooter .webnavigation a,
body.startpage .diyw .diywebFooter .diywebNav a {
  color: #dbdad8 !important;
  font-family: Georgia, serif !important;
  font-size: 15px !important;
}
body.facebookTab .diyw #diyFbBoxPage {
  margin-left: 0 !important;
  width: 100% !important;
  overflow: auto !important;
}
body.facebookTab .diyw #diyFbBoxWin,
body.facebookTab .diyw #diyFbBoxPage,
body.facebookTab .diyw #diyFbBoxBody,
body.facebookTab .diyw .diyweb {
  height: 100% !important;
}
body.facebookTab .diyw .diywebEmotionHeader,
body.facebookTab .diyw .diywebHeader,
body.facebookTab .diyw .diywebFond,
body.facebookTab .diyw .diywebSecondary,
body.facebookTab .diyw .diywebSidebar,
body.facebookTab .diyw .diywebFooter,
body.facebookTab .diyw .diywebContent .diyfeGridGroup:before,
body.facebookTab .diyw .diywebNav {
  display: none;
}
body.facebookTab .diyw .diywebMain {
  width: auto;
  float: none;
  padding-top: 0.1px;
}
body.facebookTab .diyw .diywebLiveArea,
body.facebookTab .diyw .diyweb:before {
  width: auto;
}
body.facebookTab .diyw .diyweb {
  height: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px;
}
body.facebookTab .diyw .diywebContainer {
  width: auto;
  box-sizing: border-box;
}
body.facebookTab .diyw {
  height: 100%;
  box-sizing: border-box;
}
body.facebookTab .diyw #diyFbBoxBody div.sortable-matrix {
  width: auto !important;
}
.diyw .diyApp .app-border {
  border: solid 1px #a8ada8;
}
.diyw .diyApp .app-rounded {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.diyw .diyApp .app-gradient {
  background: #a8ada8;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#a8ada8),color-stop(1,#dddfdd));
  background: -ms-linear-gradient(bottom,#a8ada8,#dddfdd);
  background: -moz-linear-gradient(center bottom,#a8ada8 0%,#dddfdd 100%);
  background: -o-linear-gradient(#dddfdd,#a8ada8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddfdd', endColorstr='#a8ada8', GradientType=0);
}
.diyw .diyApp [class^="icon-"],
.diyw .diyApp [class*=" icon-"] {
  color: #636863 !important;
}
.diyw .diyApp [class^="icon-"].active,
.diyw .diyApp [class*=" icon-"].active {
  color: #424542 !important;
}
.diyw .diyApp .app-navbar-default {
  background: #a8ada8;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#a8ada8),color-stop(1,#dddfdd));
  background: -ms-linear-gradient(bottom,#a8ada8,#dddfdd);
  background: -moz-linear-gradient(center bottom,#a8ada8 0%,#dddfdd 100%);
  background: -o-linear-gradient(#dddfdd,#a8ada8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dddfdd', endColorstr='#a8ada8', GradientType=0);
  border: solid 1px #a8ada8;
}
.diyw .diyApp .app-navbar-highlight {
  background: #f3f3f2;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#f3f3f2),color-stop(1,#ffffff));
  background: -ms-linear-gradient(bottom,#f3f3f2,#ffffff);
  background: -moz-linear-gradient(center bottom,#f3f3f2 0%,#ffffff 100%);
  background: -o-linear-gradient(#ffffff,#f3f3f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f3f3f2', GradientType=0);
  border: solid 1px #f3f3f2;
}
.diyw .diyApp .app-navbar select,
.diyw .diyApp .app-navbar input,
.diyw .diyApp .app-navbar button {
  background: #fff;
  color: #636863;
  border: solid 1px #636863;
}
.diyw .diyApp .app-container,
.diyw .diyApp .app-container-background,
.diyw .diyApp .app-container-background-highlight,
.diyw .diyApp .app-container-background-light {
  padding: 10px;
  margin: 10px 0;
}
.diyw .diyApp .app-container-background {
  background: #a8ada8;
}
.diyw .diyApp .app-container-background-highlight {
  background: #f3f3f2;
}
.diyw .diyApp .app-container-background-light {
  background: #dddfdd;
}
.diyw .diyApp .app-button-background {
  border: solid 1px #636863;
  color: #eff0ef;
  background: #636863;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#636863),color-stop(1,#969b96));
  background: -ms-linear-gradient(bottom,#636863,#969b96);
  background: -moz-linear-gradient(center bottom,#636863 0%,#969b96 100%);
  background: -o-linear-gradient(#969b96,#636863);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#969b96', endColorstr='#636863', GradientType=0);
}
.diyw .diyApp .app-button-disabled {
  cursor: none !important;
}
.diyw .diyApp .app-button-disabled.app-button-background {
  color: #a9ada9;
}
.diyw .diyApp .app-button-disabled.app-button-primary {
  color: #868b86;
}
.diyw .diyApp .app-button-primary {
  border: solid 1px #c2c2bd;
  color: #484844;
  background: #c2c2bd;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#c2c2bd),color-stop(1,#f3f3f2));
  background: -ms-linear-gradient(bottom,#c2c2bd,#f3f3f2);
  background: -moz-linear-gradient(center bottom,#c2c2bd 0%,#f3f3f2 100%);
  background: -o-linear-gradient(#f3f3f2,#c2c2bd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f3f2', endColorstr='#c2c2bd', GradientType=0);
}
.diyw .diyApp .app-navbar,
.diyw .diyApp .app-header {
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.diyw .diyApp .app-navbar-group,
.diyw .diyApp .app-header-group,
.diyw .diyApp .app-navbar-left {
  float: left;
}
.diyw .diyApp .app-navbar-right,
.diyw .diyApp .app-header-right {
  float: right;
}
.diyw .diyApp .app-navbar-group {
  margin-right: 10px;
  overflow: hidden;
}
.diyw .diyApp .app-navbar-group.app-navbar-right {
  margin-right: 0;
}
.diyw .diyApp .app-header {
  border-bottom: solid 1px;
}
.diyw .diyApp .app-button-group {
  display: table-row;
}
.diyw .diyApp .app-button-group > * {
  display: table-cell;
}
.diyw .diyApp .app-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none !important;
  text-align: center;
}
.diyw .diyApp .app-button-group label,
.diyw .diyApp .app-button {
  margin-bottom: 0;
  padding: 6px 12px;
  vertical-align: middle;
  white-space: nowrap;
}
.diyw .diyApp .app-navbar select,
.diyw .diyApp .app-navbar input,
.diyw .diyApp .app-navbar button {
  padding: 3px;
}
.diyw .diyApp .app-navbar select option {
  padding-left: 10px;
  padding-right: 10px;
}
html {
  overflow-x: hidden;
}
.diyw .diyweb {
  padding-bottom: 60px;
  padding-top: 30px;
}
.diyw .diywebContainer {
  z-index: 0;
  position: relative;
  border-top: 4px solid #24231f;
  border-radius: 2px 2px 4px 4px;
}
.diyw .diywebHeader:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 180px;
  right: -150px;
  background-color: #f3f3f2;
  background-color: rgba(243,243,242,0.8);
  width: 240px;
  height: 240px;
  border-radius: 50%;
}
.diyw .diywebHeader:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100px;
  left: -50px;
  background-color: #f3f3f2;
  background-color: rgba(243,243,242,0.8);
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.diyw .diywebContent .diywebNav {
  border-left: 4px solid #24231f;
}
.diyw .diywebContent {
  padding-bottom: 4em;
}
.diyw .diywebHeader,
.diyw .diywebEmotionHeader,
.diyw .diywebContent {
  position: relative;
  padding-top: 0.1px;
  background-color: #eff0ef;
}
.diyw .diywebContent:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100px;
  left: -100px;
  background-color: #f2f1e1;
  background-color: rgba(242,241,225,0.75);
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.diyw .diywebContent:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 200px;
  left: -115px;
  background-color: #f1eed0;
  background-color: rgba(241,238,208,0.7);
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.diyw .diywebNav a:before,
.diyw .mainNav1 a:before {
  content: "+\00a0";
}
.diyw .diywebNav li li a:before,
.diyw .mainNav3 a:before {
  content: "– ";
}
.diyw .diywebHeader,
.diyw .diywebEmotionHeader {
  padding-bottom: 0.75em;
}
.diyw .diywebHeader .diywebNav {
  margin-top: -8px;
}
.diyw #emotion-header {
  border-radius: 2px;
}
.diyw .diywebNav a {
  -webkit-transition: all .2s;
  border-radius: 1px;
}
.diyw .diywebHeader .diywebNav li {
  margin-right: .25em;
}
.diyw .diywebHeader .diywebNav a {
  padding: 2em 1em 1.25em;
}
.diyw .mainNav1 a.current,
.diyw .mainNav2 a.current {
  background-color: #f1eed0;
  background-color: rgba(241,238,208,0.9);
  color: #35321d !important;
  text-decoration: none;
  box-shadow: 0 9px 1px -6px rgba(0,0,0,0.1);
}
@media all and (min-width: 768px) {
  .diyw .mainNav1 a:hover,
  .diyw .mainNav2 a:hover {
    background-color: #f1eed0;
    background-color: rgba(241,238,208,0.9);
    color: #35321d !important;
    text-decoration: none;
    box-shadow: 0 9px 1px -6px rgba(0,0,0,0.1);
  }
}
.diyw .diywebNav a.parent {
  background-color: #f3f3f2;
  background-color: rgba(243,243,242,0.9);
  color: #b1b1aa !important;
  text-decoration: none;
  box-shadow: 0 9px 1px -6px rgba(0,0,0,0.1);
}
.diyw .diywebContent .diywebNav li {
  margin: 0.25em 0;
}
.diyw .diywebContent .diywebNav li a {
  font-family: Helvetica, 'Helvetica Neue', 'Trebuchet MS', sans-serif;
  font-size: 14px;
  padding-left: 0.75em;
}
.diyw .diyfeCA3 {
  background-color: #eff0ef !important;
}
.diyw .diywebFooter {
  position: relative;
  border-radius: 0 0 3px 3px;
}
.diyw .diywebFooter .diywebGutter {
  margin-top: -40px;
  position: relative;
  z-index: 1;
}
.diyw .diywebFooter .diywebLiveArea {
  padding: 20px 0;
}
.diyw .diywebFooter .diywebLiveArea:before,
.diyw .diywebFooter .diywebLiveArea:after {
  content: "";
  position: absolute;
  top: -60px;
  border-style: solid;
  border-bottom-width: 60px;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}
.diyw .diywebFooter .diywebLiveArea:before {
  left: 0;
  border-right-width: 480px;
  border-color: #24231f transparent #24231f transparent;
}
.diyw .diywebFooter .diywebLiveArea:after {
  right: 0;
  border-left-width: 480px;
  border-color: transparent #24231f #24231f transparent;
}
@media only screen and (max-width: 568px) {
  .diyw .diywebFooter .diywebGutter {
    margin-top: -10px;
  }
  .diyw .diywebFooter .diywebLiveArea:before,
  .diyw .diywebFooter .diywebLiveArea:after {
    top: -30px;
    border-bottom-width: 30px;
  }
  .diyw .diywebFooter .diywebLiveArea:before {
    border-right-width: 210px;
  }
  .diyw .diywebFooter .diywebLiveArea:after {
    border-left-width: 210px;
  }
  .diyw .diywebNav .mainNav2 li a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14.4px;
  }
}
.diyw .diywebFooter:before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: -50px;
  right: 20%;
  background-color: #f3f3f2;
  background-color: rgba(243,243,242,0.85);
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.diyw .diywebMain .diywebNav a {
  font-family: Georgia, serif !important;
  font-size: 16px !important;
  font-weight: normal !important;
  font-style: normal !important;
  color: #798079;
}
.diyw .diyfeMobileNav .mainNav1 a {
  font-family: 'Times New Roman', Times, serif !important;
  font-size: 14.4px !important;
  font-weight: normal !important;
  font-style: normal !important;
}
body.diyBgActive .diyw .diywebHeader:before,
body.diyBgActive .diyw .diywebHeader:after,
body.diyBgActive .diyw .diywebContent:before,
body.diyBgActive .diyw .diywebContent:after,
body.diyBgActive .diyw .diywebFooter:before {
  display: none;
}
@media only screen and (min-width: 768px) {
  body.diyfeSidebarRight .diyw .diywebContent .diywebNav {
    border-right: 4px solid #24231f;
    border-left: 0;
  }
}
.diyw .diyfeModGridGroup {
  padding: 0;
  margin: 0 -15px;
}
.diyw .diyfeModGridStyleTeaser {
  background: #f1eed0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.diyw .diyfeModGridStyleTeaser .diyfeModGridContent {
  padding: 5px 0px;
}
.diyw .diyfeModGridStyleTeaser {
  background: #f1eed0;
}
.diyw .diyfeModGridGroup.diyfeModGridStyleTeaser h1,
.diyw .diyfeModGridGroup.diyfeModGridStyleTeaser h2,
.diyw .diyfeModGridGroup.diyfeModGridStyleTeaser p,
.diyw .diyfeModGridGroup.diyfeModGridStyleTeaser a,
.diyw .diyfeModGridGroup.diyfeModGridStyleTeaser hr {
  color: #464323 !important;
}

.body {
background-image: url('https://www.rahner-edu.de/s/img/background.gif?1687354763');
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: center top;
  background-size: auto;
}
